<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid" style="padding:0px">
<div class="row" style="background: #403740;color:bisque;position: sticky!important;top: 0!important;z-index: 1!important;">
<div id="toptext" class="col-sm-8 text-start">
    <p style="margin-bottom:0px;">ENZ Book Club</p>
</div>
<span class="pages"><a class="btn  btn-lg" routerLink="/" role="button"> Home</a></span>
<span class="pages"><a class="btn  btn-lg" routerLink="/about" role="button">About</a></span>
<span class="pages"><a class="btn  btn-lg" routerLink="/Contact" role="button">Contact</a></span>
<span class="pages blink_me"><a class="btn  btn-lg" role="button" data-toggle="modal" data-target="#exampleModal">Login/Register</a></span>
</div>
<div class="clippathbackground">

    <div class="row" style="padding-top: 148px;">
       
        <p class="simapletext">"It is what you read when you don't have to that determines what you will be when you can't help it" - Oscar Wilde</p>
    </div>
</div>
<br>

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">ENZ Book Club</h1>
    </div>
    <p class="lead">"Welcome to Online Book Review System."</p>
    <hr class="my-4">
    <p>“ENZ Book Club” is an online book review blog where users can register and share their reviews on a list of books.</p> 
</div>
</div>
</div>