<app-uheader></app-uheader> 
<div class="container-fluid text-center" style="background: linear-gradient(35deg, transparent, #403740);">
    <div class="card bg-transparent">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div style="color:cornsilk;font-family: 'Libreaskerville', sans-serif;" class="card-body">
            <div class="row">
              <div class="col-sm-3" style="height:300px;border:1px solid rgb(64 55 64);color:cornsilk;background-color:rgb(64 55 64)">
                <h1 class="card-title" style="margin:58px;font-family: cursive;">Book Details</h1>
              </div>
              <div class="col-sm-9" style="height:300px;border:1px solid rgb(64 55 64);color:rgb(64 55 64);text-align: center;">
                <h4 class="card-title">Book Name : {{book.name}}</h4><hr>
            <h4 class="card-title">Author : {{book.author}}</h4><hr>
            <h4 class="card-title">Price : {{book.price}}</h4><hr>
            <h4 class="card-title">Category : {{book.category}}</h4><hr>
            <h4 class="card-title">Seller : {{book.seller}}</h4>
            
              </div>
              </div>
            

            
          </div>
        </div>
      </div>
    </div>
    
  <div class="container my-5">
    <form [formGroup]="rateBook" (ngSubmit)="rateTheBook(rateBook.value, book.name)">
        <div class="mb-3">
            <div class="form-group">
              <label for="formControlRange">Rate The Book (between 1 to 5) : </label>
              <div class="row">
              <div class="col-sm-3" style="text-align: start"><i class="fa fa-star checked"></i></div>
              <div class="col-sm-2"  style="text-align: start"><i class="fa fa-star checked"></i></div>
              <div class="col-sm-2"><i class="fa fa-star checked"></i></div>
              <div class="col-sm-2" style="text-align: end"><i class="fa fa-star checked"></i></div>
              <div class="col-sm-3 "  style="text-align: end" ><i class="fa fa-star checked"></i></div>
              </div>
              <input type="range" name="rating" formControlName="rating" class="form-control-range" min="1" max="5" id="formControlRange">
            </div>
        </div>
        <div class="form-floating">
            <label for="floatingTextarea2">Review : </label>
            <textarea class="form-control" name="review" formControlName="review" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            
          </div>
          <br><br>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      
  </div>
  <app-ufooter></app-ufooter>

</div>