<app-uheader></app-uheader>
<body style="background: linear-gradient(45deg, #403740, transparent);">
<div class="container-fluid" style="padding:0px;">
    <div class="jumbotron" style="background-color:transparent;height: 51vh ;">
      <div class="row">
        <div class="col-sm-7" style="margin-top:133px;">
        <h1 class="display-4">Hello, {{ cUser }}</h1>
        <p class="lead">Welcome To The biggest online book review system <i>" ENZ Book Club "</i></p>
        <p class="lead">Share your experience as likes, comments and rating.</p>
      </div>
      <div class="col-sm-5">
        
        <div class="row display-4 blockcust" style="border-radius: 6px;margin-top: 95px;color: #fff8dc;background-color: #403740;margin-bottom: 33px;cursor: pointer;" (click)="onNav()"><i  style="padding: 15px;" class="fa fa-list "></i> <span style="margin: 7px;">Book List</span></div>
        <div class="row display-4 blockcust" style="color: #fff8dc;background-color: #403740;cursor: pointer;border-radius: 6px;" (click)="onNav2()"><i class="fa fa-user" style="padding: 15px;"></i> <span style="margin: 7px;">your Profile</span></div>
      </div>
    </div>
        
        
      </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>  
  <app-ufooter></app-ufooter>