<app-uheader></app-uheader>

<div class="container-fluid">
    
    <div class="px-5 py-1" style="margin-top: 3%;margin-left: 24%;width: 50%;background: #7b756f56;width: 50%;color: rgb(255, 248, 220);">
    <div class="text-center">
        <h1 class="my-3" style="color:cornsilk"><i class="fa fa-user"></i> Update Profile</h1>
    </div>   
    <form [formGroup]="updateUser" (ngSubmit)="updateUserProf(updateUser.value, supData.id)">

            <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-envelope" ></i> Email id </label>
                <input type="text" [readonly]="true" name="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModel]="supData.email">
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1"><i class="fa fa-user"></i> First Name</label>
                    <input type="text" name="firstname" formControlName="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModel]="supData.firstname">
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1"><i class="fa fa-user"></i> Last Name</label>
                    <input type="text" name="lastname" formControlName="lastname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModel]="supData.lastname">
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1"><i class="fa fa-mobile"></i> Phone No</label>
                    <input type="number" name="phone" formControlName="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModel]="supData.phone">
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1"><i class="fa fa-map-marker"> </i> Address</label>
                    <input type="text" name="address" formControlName="address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModel]="supData.address">
                </div>
            </div>


            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1"><i class="fa fa-key" aria-hidden="true"></i> password</label>
                    <input type="password" name="password" formControlName="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModel]="supData.password">
                </div>
            </div>
            <button type="submit" color="cornsilk" class="btn btncust">Update</button>
    
        </form>
    </div>

</div>


<app-ufooter></app-ufooter>