<!--Header-->
<nav class="navbar navbar-expand-lg" style="background-color: #403740;color:cornsilk;position: sticky!important;top: 0!important;z-index: 1!important;">
  <a class="navbar-brand" id="nvhead" routerLink="admindash" style="color:cornsilk!important">ENZ   Book   Club  <span class="text-dark"> (Admin Portal)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btncust" (click)="logoutbtn()"><i class="fa fa-sign-out"></i>Logout</button>
    </form>
    <div style="color:#403740 ;"> as</div>
    <form class="form-inline my-1 my-lg-0">
      <button class="btn btncust" (click)="Homebtn()"><i class="fa fa-home"></i>Home</button>
    </form>
  </div>
</nav>
