@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Libre+Baskerville:ital@1&family=Ms+Madi&family=Oswald:wght@200&family=Rubik+Moonrocks&family=Updock&family=Whisper&display=swap');
#nvhead{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}
.btncust{
    color: rgb(43, 17, 14);
    background: cornsilk;
    font-weight: bolder;
}