<!--Header-->
<nav class="navbar navbar-expand-lg" style="background-color: #403740;color:cornsilk;position: sticky!important;top: 0!important;z-index: 1!important;">
  <a class="navbar-brand" id="nvhead" href="#" style="color:cornsilk!important">ENZ Book Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
           
    </ul>
    <form class="form-inline ">
      <button class="btn btncust" type="submit" (click)="cLogout()"><i class="fa fa-sign-out"></i>Logout</button>
    </form>
    <div style="color:#403740 ;">sd</div>
    <form class="form-inline ">
      <button class="btn btncust" type="submit" (click)="Home()"><i class="fa fa-home"></i>Home</button>
    </form>
    
  </div>

</nav>

<!--/Header-->